button {
    background-color: #5f357c;
    border: none;
    color: #faf9fb;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    padding: 1em 2.5em;

}

.btn_custom {
    background-color: #fff;
    border: 1px solid black;
    color: #222;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
    padding: 1em 2.5em;
    border-radius: 15px;

}