.container_adicionar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: saddlebrown; */
}

.area_form,
.area_image{
    height: 95%;

}

.area_form{
    width: 60%;
}

.input_container_form{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-weight: bold;
    color: #5F357C;
    padding: 1em 0.5em;
    margin-top: 0.9em;
    border: 2px solid #D3D3D3;
    box-shadow: 0px 2px 2px 1px #D3D3D3;
}

.input_container_form input{
    padding: 1.5em;
    border-radius: 15px;
    margin-top: 1em;
    text-align: left;
    
}
.date_input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.date_input input{
    border-radius: 15px;
    padding: 1em 1em 1em 8em;
}

.date {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #5F357C;
    width: 46%;
    padding: 1em;
    border-radius: 15px;
    margin-top: 5px;
    text-align: center;
    border: 2px solid #D3D3D3;
    box-shadow: 0px 2px 2px 1px #D3D3D3;
}

.container_input {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.area_image {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 30%;
    
}

.div_container{
    color: #5F357C;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    border-radius: 2em;
    padding: 1.5em;
    box-shadow: 0px 2px 2px 2px #D3D3D3;
    text-align: center;
}

.div_container form{
    display: flex;
    flex-direction: column;
}

.div_container form input {
    margin-top: 10px;
    padding: 0.5em;
    border-radius: 20px;
}

.button_form:hover {
    background-color: rgb(220, 203, 232);
    text-decoration: underline;
}

.div_container form span,
.input_container_form span
{
    margin-top: 3px;
    font-size: 0.8em;
}

.button_form {
    margin-top: 1em;
    padding: 1em;
    background-color: #5F357C;
    border-radius: 15px;
    border: none;
    color: #dad9d9;
    
    font-weight: bold;
}

.file_form img{
    width: 90%;
    height: 70%;
    margin-bottom: 1.5em;
    background-image: url('../../../../assets/image.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:70%;

}
.file_form{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
    border: 2px solid #D3D3D3;
    border-radius: 2em;
    box-shadow: 0px 2px 2px 1px #D3D3D3;
}
.file_form input{
    display: flex;
    height: 10%;
    padding: 1em;
    border: 2px solid #D3D3D3;
    border-radius: 2em;
    box-shadow: 0px 2px 2px 1px #D3D3D3;
    cursor: pointer;
}